@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);
section {
    height: 300px;
    width: 100%;
    background-image: url("../../../assets/images/gemma-stpjHJGqZyw-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-size: larger;
}


.container {
    background-color: rgba(211, 211, 211, 0.452);
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    position: absolute;
    right: 0;
    top: 0;
}
.search-product-input{
    border:none;
    outline: none;
    background-color:rgba(255, 255, 255, 0.322);
    font-size: larger;
}

table {
    width: 100%;

}

table td, th {
    padding: 10px;
    text-align: center;
}

img {
    width: 2.5rem;
    height: 2.5rem;
}


mat-card {
    flex: 40%;
    min-height: 200px;
    text-align: left;
    margin: 1rem;
    background-color: rgba(173, 216, 230, 0.233);
    font-family: 'Open Sans', sans-serif;
}

/* ------------------------------------------- */

.contain, .contain1, .contain2 {
    overflow: hidden;
    margin: 0 auto 50px;
    text-align: center;
}

.fancy-title {
    margin: 0 0 1em 0;
    letter-spacing: .2em;
    position: relative;
    overflow: hidden;
}

#line {
    overflow: hidden;
    height: auto;
}

p.norm {
    letter-spacing: .2em;
    font-size: 15px;
    margin: 10px 0;
    text-transform: uppercase;
}

.bold {
    font-weight: 700;
    font-size: 18px !important;
    text-transform: uppercase;
}

.fancy-line {
    line-height: 1;
    text-align: center;
    margin: auto;
}

.fancy-line span {
    display: inline-block;
    position: relative;
    font-size: 15px;
}

.bold span {
    font-size: 18px !important;
}

.fancy-line span:before, .fancy-line span:after {
    content: "";
    position: absolute;
    height: 15px;
    border-top: .07em solid #003263;
    top: 7px;
    width: 600px;
}

.fancy-line span:before {
    right: 100%;
    margin-right: 20px;
}

.fancy-line span:after {
    left: 100%;
    margin-left: 20px;
}